<nav class="navbar navbar-expand-md bg-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav me-auto">
        <a class="nav-link" href="/listings">Explore</a>
      </div>

      <form class="d-flex my-2 my-md-0" role="search" action="/listings" method="GET">
        <input class="form-control me-2 search-input" name="q" value="<%= q || '' %>" type="search" placeholder="Search destination" />
        <button class="btn btn-search" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
      </form>

      <div class="navbar-nav ms-auto mt-3 mt-md-0">
        <a class="nav-link" href="/listings/new">Airbnb your home</a>
        <% if(!currUser){ %>
          <a class="nav-link" href="/signup"><b>Sign up</b></a>
          <a class="nav-link" href="/login"><b>Log in</b></a>
        <% } %>
        <% if(currUser){ %>
          <a class="nav-link" href="/logout"><b>Logout</b></a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
<script>
const navbar = document.querySelector('.navbar');
const navbarCollapse = document.getElementById('navbarNavAltMarkup');

// Only run if the elements exist
if (navbar && navbarCollapse) {
    navbarCollapse.addEventListener('show.bs.collapse', () => {
      navbar.classList.add('navbar-open');
    });

    navbarCollapse.addEventListener('hide.bs.collapse', () => {
      navbar.classList.remove('navbar-open');
    });
}
</script>
